:root {
    --font-all: 'Times New Roman', Times, serif;
    --egg-yellow: #F3D925;
    --dark-egg-yellow: #BAA102;
    --lavendar: #B5C6E0;
    --standard-gap: 10px;
    --standard-padding: 20px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-all);
}

html {
    background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url('./egg-background.png');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--standard-gap);
    height: 100vh;
}

.tabs {
    padding: var(--standard-padding);
    background-color: var(--lavendar);
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: var(--standard-gap);
}

.tabs > button {
    border: 0;
    border-radius: 8px;
    height: 60px;
    width: 140px;
    font-size: 2rem;
    background-color: var(--egg-yellow);
    box-shadow: 2px 2px var(--dark-egg-yellow);
}

.tabs > button:hover {
    cursor: pointer;
    opacity: .5;
}

#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 800px;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
    font-size: 1.5rem;
    background-color: var(--egg-yellow);
    border-radius: var(--standard-gap);
    box-shadow: var(--standard-gap) var(--standard-gap) var(--standard-gap) var(--lavendar);

}

h1 {
    text-align: center;
}

.home-body {
    text-align: justify;
    font-weight: bold;
}

.home-image {
    width: min(100%, 600px);
    align-self: center;
    box-shadow: var(--standard-gap) var(--standard-gap) var(--standard-gap) var(--dark-egg-yellow);
    border-radius: 20px;
}

.caption {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}